body {
  margin: 0 auto;
  font-family: Open Sans, sans-serif;
}

#container {
  /** border: 5px solid pink; **/
  background: none;
  height: 70vh;
}

header {
/*  border: 5px solid lightblue; */
width: 95%;
margin: 0.5% auto;
}

nav {
  position: relative;
  font-family: Open Sans, sans-serif;
  float: right;
  border: 5px solid none;
  background-color: none;
  height: 100px;
  width: 80%;
  margin: auto;
}

nav ul {
  text-decoration: none;
  padding-top: 25px;
}

nav li {
    display: inline-block;
    text-decoration: none;
    padding-left: 50px;
}

nav a {
  color: gray;
  font-size: 110%;
}

nav a:hover {
  color: #000;
}

.shopCart {
  display: block;
  position:absolute;
  height: 100px;
  width: 80px;
  right:0;
  top: 5px;
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}

section {
  background-image: url('img/furn.jpg');
  background-position: center;
  background-size: cover;
  border: 5px solid white;
  height: inherit;
}

article {
  background-color: black;
  display: block;
  height: 200px;
  float: left;
  width: 100px;
  margin-top: 50px;
  margin-left: 40px;
  padding-left: 20px;
}

footer {
  background-color: #fff;
  left: 0;
  right: 0;
  max-width: 100%;
  font-size: 10px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 1000%;
}

.quote {
  color: #fff;
  text-align: center;
  font-size: 100%;
}

#createdMark {
  display: block;
  float: right;
  height: 100px;
  width: 300px;
}

.created {
  text-align: right;
  padding-top: 20px;
  padding-right: 50px;
}

#addressBox {
  display: block;
  float: left;
}

/* about page */

#map-canvas {
  float:left;
  position: absolute;
   width: 50%;
   height: inherit;
   background-color: #CCC;
}

#textBox {
  right: 0;
  position: absolute;
  width: 46.5%;
  height: inherit;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  font-style: italic;
}

/* contact form */


form {
  width:90%;
  max-width: 700px;
  margin: 50px auto;
}

.cf:after {
  content: "";
  display: table;
  clear: both
}

.default-input {
  padding:0.8em;
  border:2px solid #ccc;
  font-size:1em;
  width:100%;
  color:#999;
  margin-bottom:15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.default-input:focus {
  border:2px solid #999;
}

.rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow:hidden;
}

.default-input::-webkit-input-placeholder {
  color: #ccc;
}

.default-input:-moz-placeholder {
  color: #ccc;
}

.default-input::-moz-placeholder {
  color: #ccc;
}

.default-input:-ms-input-placeholder {
  color: #ccc;
}

#feedbackText {
  height: 300px;
}
